<!DOCTYPE html>
<html>

<head>
    <title>SSE!</title>
</head>

<body>
    Welcome to SSE
</body>

<script>

    var testId = "a99d4b4e-e5c4-42b4-888d-651862c599f" + Math.floor(Math.random() * 10); //todo remove
    login('{{ .user }}', '{{ .password }}', testId)

    function login(user, password, id) {
        var url = "http://localhost/login";
        var data = {};
        data.username = user;
        data.password = password;
        data.id = id;
        var json = JSON.stringify(data);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.withCredentials = true;
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.onload = function () {
            var token = JSON.parse(xhr.responseText);
            console.log(token);
        };
        xhr.send(json);
        xhr.addEventListener("loadend", function (event) {        
            const evtSource = new EventSource("http://localhost/events?type=sse");
            evtSource.onmessage = function (event) {
                console.log(event);
            };
        }, false);
    }

</script>

</html>